<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Gadget Shop</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <div class="cart">
                <h2>🛒 Mon Panier ({{cart.length}})</h2>
                <ul v-for="(product, index) in cart">
                    <li>
                        {{product.name}} - {{product.price}}€
                        <button
                            class="remove-btn"
                            @click="removeFromCart(index)"
                        >
                            ❌
                        </button>
                    </li>
                </ul>
                <p v-show="cart.length === 0">Votre panier est vide.</p>
                <h3 style="color: #007bff">
                    💰 Total :
                    <span v-if="cartTotal < 1000">{{cartTotal}}&euro;</span>
                    <span v-else>
                        <s style="color: red">{{cartTotal}}&euro;</s> ➝
                        <strong style="color: green"
                            >{{discountedTotal}}&euro; (-10%)</strong
                        >
                    </span>
                </h3>
            </div>
            <div class="gadget-container">
                <gadget-display
                    :gadget="gadget"
                    v-for="gadget in gadgets"
                    @add-to-cart="addToCart"
                ></gadget-display>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
    <script src="./components/GadgetDisplay.js"></script>
    <script>
        const mountedApp = app.mount('#app');
    </script>
</html>
