<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Gadget Shop</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <div class="cart">
                <h2>🛒 Mon Panier (0)</h2>
                <ul v-for="(product, index) in cart">
                    <li>
                        {{product.name}} - {{product.price}}€
                        <button
                            class="remove-btn"
                            @click="removeFromCart(index)"
                        >
                            ❌
                        </button>
                    </li>
                </ul>
                <p v-show="cart.length === 0">Votre panier est vide.</p>
            </div>
            <div class="gadget-container">
                <div class="gadget" v-for="gadget in gadgets">
                    <img :src="gadget.img" />
                    <h2>{{gadget.name}}</h2>
                    <p>{{gadget.price}}&euro;</p>
                    <p v-if="gadget.inStock">✅ En stock</p>
                    <p v-else>❌ En rupture de stock</p>
                    <button
                        :disabled="!gadget.inStock"
                        @click="addToCart(gadget)"
                    >
                        Ajouter au panier
                    </button>
                </div>
            </div>
        </div>
    </body>
    <script src="main.js"></script>
</html>
